.tutorial {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  width: clamp(200px, 40vw, 600px);
  font-size: 1.05rem;
  padding: 1.5rem;
  background-color: var(--oc-gray-8);
  border-radius: 0.5rem;
  box-shadow: 0 10px 50px rgba(var(--oc-black-rgb), 0.3);
}
.buttons {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  justify-content: flex-end;
}
.p {
  white-space: pre-line;
}
.heading {
  font-size: 1.75rem;
}
.hr {
  height: 1px;
  border: none;
  background-color: var(--oc-gray-7);
  margin: 0.2rem 0rem 1.4rem 0;
}
